/* Tu CSS va aqui */

.body{
	
	font-family: Open Sans;
}


 a  {
	/* menu */
	text-decoration: none;
	cursor:pointer;
	padding: 2%;
	margin-left: 26%;
	font-size: 20px;
	margin-top: 10px

}
li{
	display: inline-block;
	list-style: none;
}
.indice{
	text-align:right; 
}

.cielo{
	background: url(../image/Cielo-estrellado-con-nubes3.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	height: 280%;
	width: 100%;
	padding-bottom: 150%;
	padding: 50px 50px; 
}

.txt h1{
	color:#fff;
	margin-top: 10%;
	margin-right: 5%;
	font-size: 50px;
	text-decoration-line: 2px;
}
.txt p{
	color:#fff;
	font-size:20px;
	margin-top: 20px;
	margin-right: 5%;
	margin-bottom: 20%; 

}

.gris{
	background-color:#A29B9B;
	width: 300px;
	padding:30px;
	border-radius: 10px;
}
#nombre{
	font-size: 20px;

}

#mail{
	font-size: 20px;
}
#suscribe{
	font-size: 20px;
}
.form{
	text-align: right;
	background-color: #333333;
	border-radius: 10px;
	margin-top: 7%;
	margin-bottom: 5%;

}

.foo{
	font-size: 40
}

@media (min-width: 535px) and (max-width: 824px){
	body{
	background-color:#57A963;
	}
	a{

		font-size: 40px;
	}
	li{
		font-size: 40px;
	}

	.indice{
		font-size: 40px;
	}
	.cielo{
		font-size: 40px;
	}
	.txth1{
		font-size: 40px;
	}
	.txtp{
		font-size: 30px
	}
	.gris{
		font-size: 40px;
	}

	#nombre{
		font-size: 30px;
	}
	#mail{
		font-size: 30px;
	}
	#suscribe{
		font-size: 30px;
	}
}


